body
{
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: #34495e;
}

#Code
{
	position: absolute;
	left: 10%;
	top: 10%;
	width: 40%;
	height: 70%;
	border: 2px solid #d1d1d1;
	padding: 1px 7px 10px 7px;
	overflow: auto;
}
h1 {
            color: white;
            text-transform: uppercase;
            font-weight: 600;
        }

pre
{
	color: white;
	background-color: black;
	max-height: 100%;
	height: auto;
	overflow: auto; 
	word-break:break-all; 
}

td,th
{
	font-size:1em;
	width: auto;
	text-align: justify;
	border:1px solid LightGray;
	padding:3px 7px 2px 7px;
	color: Gray;
}

.biaoti{
  color:#2ecc71;
font-weight:bold; 
font-size : 26pt;
margin-top:30px;
}

.biaodan{
color:white;
}

.Challenge
{
  visibility:visible;
	right: 12%;
	top: 11%;
	overflow: auto;
  width: 35%;
  padding: 1px 7px 10px 7px;
            position: absolute;
            	bottom: 0;
	height: 72%;
           
            background: #191919;
            text-align: center;
        
        
}

.Challenge input
{

	background-color: transparent;
	border-style: none;

	cursor: auto;	
              border: 0;
            background: none;
            display: block;
            margin: 2px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 4px 11px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
}
        .Challenge input[type="textarea"],
        .Challenge input[type="password"] {
            border: 0;
            background: none;
            display: block;
            text-align: center;
            border: 2px solid #3498db;
            padding: 14px 11px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }
  .Challenge input[type="textarea"]:focus,
        .Challenge input[type="password"]:focus {
            width: 280px;
            border-color: #2ecc71;
        }
         .Challenge input[type="submit"] {
            border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
        }

        .Challenge input[type="submit"]:hover {
            background: #2ecc71;
        }


#Notice
{
	color: red;
}

.Success
{
  
  visibility: hidden;

	right: 12%;
	top: 11%;
	overflow: auto;
  width: 35%;
  padding: 1px 7px 10px 7px;
  position: absolute;
  bottom: 0;
	height: 72%;
  font-weight:lighter;    
  background: #191919;
   text-align: left;
   color:white;
   
}

.Success input
{
	 border: 0;
            background: none;
            display: block;
            margin: 20px auto;
            text-align: center;
            border: 2px solid #2ecc71;
            padding: 14px 40px;
            outline: none;
            color: white;
            border-radius: 24px;
            transition: 0.25s;
}
.Success input[type="submit"]:hover {
            background: #2ecc71;
        }

.Success p{
  margin:20px;
  line-height : 200%; 
}

.Success pre
{
	max-height: 50%;
  margin:20px;
  padding:10px;
}

.angle{ border-left: 10px solid transparent;
   border-bottom: 10px solid red;
   border-right: 10px solid transparent;
   border-top: 10px solid transparent;
   width: 0px;
   height: 0px;
}

.bug{
color:#2ecc71;
font-weight:bold; 
font-size : 24pt;
}



#Tip
{
	position: absolute;
	bottom: 14px;
	text-align: right;
	right: 18px;
	margin-bottom: 0;
  color:#C0C0C0;
  font-weight:lighter;
  font-size: 5px;
  text-decoration:underline; 
}

#Flag{
color:white;
}

svg{
  margin-left:7px;
  margin-top:8px;
  margin-bottom:-4px;
}

a
{
	cursor: pointer;
}

.upload {
    padding: 4px 10px;
    height: 20px;
    width:99px;
    position: relative;
    line-height: 20px;
    border: 1px solid #999;
    text-decoration: none;
    color: #666;
    font-weight:lighter;
}
.uploadfile{
opacity: 0;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
}

.uploadfile p{
  position: absolute;
    overflow: hidden;
}

#text{
color:#666;
font-weight:lighter;
font-size:15px;
}


#Upload {
    position: relative;
    overflow: hidden;
    	width: 120px;
 	height: 36px;
	background: white;
	border: none;
  	border-radius: 4px;
	font-family: Helvetica;
	font-size: 14px;
	color: #444;
  margin-bottom:50px;
}
#Upload:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #666 10%, transparent 10%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: .3s, opacity .5s;
}
#Upload:active:after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
}

#Upload:hover{
  transition: all ease 0.3s;
  margin-bottom:100px;
  margin-top:20px;
}

#Tip a{
  color:red;
}




